body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 600px;
}

*:focus {
  outline: none !important;
  box-shadow: 0 0 15px #29d !important;
  border-color: #29d !important;
}

.form-field {
  border: 1px solid #aaa;
  border-radius: 2px;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.button:active {
  transform: translateY(1px);
  background-image: none;
}

.button:disabled {
  opacity: .7;
  cursor: not-allowed;
}
